.account-navigation {
  margin-bottom: (@grid-gutter-width/2);

  .account-navigation-header {
    //background: @grayblue;
    padding: (@grid-gutter-width/2);
    text-transform: uppercase;

    a {
      display: block;
    }

  }

  .account-navigation-list {
    margin: (@grid-gutter-width/2);
    .list-unstyled;
    .hidden-sm;
    .hidden-xs;

    li {
      &.title {
        margin-top: (@grid-gutter-width/2);
        font-weight: bold;
      }

      &.active {
        font-weight: bold;
      }

      a {
        //color: @text-color;

        &:hover, &focus {
          color: @brand-primary;
        }

      }
    }
  }
}

///////////////////////////////////////////////////////////////
//    				account home	 						 //
///////////////////////////////////////////////////////////////
.account-home {
  .account-home-section {
    margin-bottom: @grid-gutter-width;

    .account-home-section-header {
      background: @grayblue;
      padding: (@grid-gutter-width/2);
      text-transform: uppercase;
    }

    .account-home-section-content {
      height: 100px;
      padding: (@grid-gutter-width/2);
      border: 1px solid @grayblue;
      border-top: 0;

      ul {
        .list-unstyled;
        margin: 0;
      }
    }
  }
}

@media (max-width: @screen-sm-max) {

  .account-home {
    .account-home-section {
      margin-bottom: (@grid-gutter-width/2);

      .account-home-section-content {
        height: auto;
        padding: 0;

        ul {
          li {
            a {
              padding: (@grid-gutter-width/2);
              display: block;
            }

            + li {
              border-top: 1px solid #eee;
            }
          }
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////
//    				account pagination 						 //
///////////////////////////////////////////////////////////////
.account-section {
  padding: 0 10px;

  @media (min-width: 1400px) {
    padding: 0 30px;
  }

  @media (min-width: @screen-sm-max) {
    padding: 0 15px;
  }

  .pagination-bar {
    margin: 15px 0 0;

    .pagination-toolbar {
      padding-left: 0;
      padding-right: 0;
      padding-top: 15px;
      border-bottom: none;

      .sort-refine-bar {
        .full-width-padding();

        form {
          padding: 0;
        }
      }

    }

    .pagination-bar-results {
      font-size: @font-size-small;
      font-weight: 600;
      margin: 0;
      padding-top: (@grid-gutter-width/2);
      padding-bottom: (@grid-gutter-width/2);
      .full-width-padding();
      border-top: 1px solid @border-color-3;

      @media (max-width: @screen-xs-max) {
        border-bottom: 1px solid @border-color-3;
      }
    }

    &.bottom {
      .pagination-toolbar {
        padding-top: 5px;
        border: none;
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  .account-section {
    .pagination-bar {
      .pagination-toolbar {
        margin: 0;
      }

      .pagination-bar-results {
        border-bottom: 1px solid @border-color-3;
        padding-left: @grid-gutter-width;
        padding-right: @grid-gutter-width;
      }
    }

    .account-overview-table,
    div.responsive-table {
      .row();
    }
  }
}

///////////////////////////////////////////////////////////////
//    				account content 						 //
///////////////////////////////////////////////////////////////
.account-section {
  .addressBackBtn,
  .orderTopBackBtn {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .account-section-header {

    text-transform: uppercase;
    margin: 0;
    color: #595A58;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;

    &.account-section-header-secondary {
      color: @text-color;
      font-size: 22px;
      line-height: 32px;
      font-weight: 400;
      padding-bottom: (@grid-gutter-width / 2);
    }

    &.no-border {
      border-bottom: none;
    }

    .account-section-header-add {
      font-size: @font-size-base;
      font-weight: 700;
      margin-top: 4px;
    }
  }

  .account-section-header__subheadline {
    .page-sub-headline();
    text-transform: none;
  }

  .account-orderdetail + .account-section-content .pagination-bar {
    margin-top: 0;
  }

  .container-lg {

    .account-section-content {
      .full-width-padding();

      @media (min-width: @screen-lg) {
        padding: 0;
      }

      .account-section-form {
        @media (min-width: @screen-lg) {
          padding: 0 5px;
        }
      }

      @media (max-width: @screen-sm-max) {
        padding: 0 !important;
      }
    }

  }

  .account-section-content {

    .item__list--item {
      .item__total {
        padding-right: (@grid-gutter-width + 10);
      }
    }

    .account-section-header {

      text-transform: uppercase;

      margin: 0;

      padding-right: 0;
      padding: 20px 0;
      padding-left: 10px;

      &.no-border {
        border-bottom: none;
      }

      .container-lg {
        float: none;
        padding: 0 (@grid-gutter-width/2);

        @media (min-width: @screen-lg) {
          padding: 0;
        }
      }
    }

    .back-link {
      .container-lg {
        @media (min-width: @screen-lg) {
          padding: 0;
        }
      }
    }

    .account-section-form {
      margin: (@grid-gutter-width*2) 0;

      .accountActions {
        padding-left: 0;
        padding-right: 0;
      }


      form {
        padding: 0;
      }

      .account-section-form__toggle-list {
        list-style-type: none;
        width: 100%;
        position: relative;

        li {
          border-top: 1px solid @border-color-3;
          width: 100%;
          display: inline-flex;
          align-items: center;
          height: 4em;

          &:last-child {
            border-bottom: 1px solid @border-color-3;
          }

          .toggle-switch {
            position: absolute;
            right: 0;
          }

        }

        label {
          margin-bottom: 0;
        }

      }

    }

    .consent-management-intro {
      padding-bottom: 10px;
    }

    .consent-management-list {
      max-width: 100%;
      line-height: 1.6;
      padding: 0;
    }

    .consent-management-list__item {
      border: 1px solid @border-color-3;
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      list-style-type: none;

      @media (max-width: @screen-sm-max) {
        border-left: 0 none;
        border-right: 0 none;
        margin-left: -20px;
        margin-right: -20px;
      }

    }

    .consent-management-list__title {
      padding: 25px 15px 18px 62px;
      display: block;
      position: relative;
      font-weight: 400;
      text-transform: uppercase;
      font-weight: bold;
    }

    .consent-management-list__title:before {
      font-family: 'Glyphicons Halflings', sans-serif;
      content: '\e114';
      font-size: 16px;
      position: absolute;
      left: 20px;
      top: 23px;
      color: @gray-base;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .consent-management-list__title:hover,
    .consent-management-list__title:focus {
      cursor: pointer;
      outline: none;
    }

    .is-expanded .consent-management-list__title:before {
      content: "\e113";
    }

    .consent-management-list__label {
      width: 85%;
      color: @text-color;
      font-size: 15px;

      @media (max-width: @screen-sm-max) {
        width: 75%;
        font-size: 14px;
      }

    }

    .consent-management-list__content-inner {
      padding: 0 40px 10px 65px;
      font-size: 16px;

      @media (max-width: @screen-sm-max) {
        font-size: 14px;
      }

    }

    .consent-management-list__content {
      transition: height 0.3s ease-out;
      height: 0;
      overflow: hidden;
    }

    form {
      .full-width-padding();

      .accountActions-bottom {
        padding: 0;
      }
    }

    #quoteForm {
      padding: 0;
    }

    #addNewPermissionForm {

      .account-select-form {
        .full-width-padding();
      }

    }

    &.content-empty {
      margin: 45px 0;
      font-weight: bold;
      font-size: @font-size-large;
      text-align: center;
      .full-width-padding();
    }

    .help-block {
      font-size: @font-size-base;
      font-weight: normal;
      color: @input-error;
    }

    .account-orderhistory-pagination {
      padding-top: (@grid-gutter-width/2);

      .pagination-bar {
        .sort-refine-bar {
          .full-width-padding();
        }

        form {
          padding: 0;
        }
      }

      .account-orderhistory-pagination-text {
        line-height: 32px;
      }

      .pager {
        margin: 0;
      }
    }

    .account-orderhistory-sort {
      background: @grayblue;
      padding: (@grid-gutter-width/2);
    }

    table {
      > tbody > tr > td {
        &:nth-child(2) {
          a {
            font-weight: 600;
          }
        }
      }
    }

    .accountActions {
      padding-left: 0;
      padding-right: 0;
      padding-top: @grid-gutter-width;

    }

    .cart-voucher form,
    .cart-items form,
    .item-action form {
      padding: 0;
    }

    .item__btn {

      @media (min-width: @screen-md) {
        margin-bottom: (@grid-gutter-width/2);
      }

      @media (max-width: @screenSmMax) {
        margin-top: @grid-gutter-width;
      }
    }

    .disable-link,
    .enable-link {
      display: inline-block;
      text-align: right;
      margin: 25px 0;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 16px;

      @media (max-width: @screen-xs-max) {
        text-align: center;
        float: none;
        padding-right: 0 !important;
        width: 100%;
      }

      button {
        background: transparent;
        border: 0 none;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0;

        &[disabled] {
          color: @text-color-secondary;
        }
      }

      form {
        display: inline-block;
      }
    }

    .enable-link + .disable-link, .disable-link + .enable-link, .disable-link + .disable-link, .enable-link + .enable-link {
      padding-left: 20px;
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        height: 24px;
        width: 1px;
        left: 10px;
        background: @border-color-3;
        top: 0;
        @media (max-width: @screen-xs-max) {
          display: none;
        }
      }

      @media (max-width: @screen-xs-max) {
        padding-left: 0;
      }
    }

    .disable-link {
      a,
      button,
      form {
        color: @item-sale-color;
      }
    }

    @media (max-width: @screen-xs-max) {
      .remove-item-column {
        position: absolute;
        right: -4px;
        top: -5px;
        width: auto;
      }

      .restore-item-column {
        position: absolute;
        right: -4px;
        top: 50px;
        width: auto;
      }
    }

    .restore-item-link {
      text-transform: uppercase;
      font-weight: 700;

      .glyphicon-share-alt {
        font-size: 24px;
        padding: 13px;
        transform: scale(-1, 1);
        margin-right: 13px;
      }
    }

    .edit-item-link {
      margin-top: @grid-gutter-width/2;
      display: block;
    }

    .remove-item-link {
      .glyphicon-remove {
        font-size: 21px;
        padding: 0 14px;

        @media (max-width: @screen-xs-max) {
          padding: 14px;
          margin-right: 20px;
        }
      }
    }

    .saved__carts__overview--table {
      .responsive-table-item {
        position: relative;
        padding-right: 35px;
        border-bottom: 1px solid #dedede;

        &:last-child {
          border-bottom: 1px solid #000;
        }
      }
    }

    .saved-cart {
      @media (min-width: @screen-sm-min) {
        .saved-cart-name {
          width: 15%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 0;
        }

        .saved-cart-description {
          width: 30%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 0;
        }
      }
    }
  }

  .account-section-action {
    margin-top: @grid-gutter-width;

    @media (max-width: @screen-xs-max) {
      .row {
        margin: 0;
      }

      .btn-primary {
        margin-bottom: @grid-gutter-width;
      }
    }
  }

  .accountActions-bottom {
    clear: both;
    margin-top: 35px;
    .full-width-padding();

    @media (max-width: @screen-xs-max) {
      .btn-primary {
        margin-bottom: @grid-gutter-width;
      }
    }
  }

  .cancel-panel {

    .orderBackBtn {
      padding: 0;

      @media (max-width: @screen-sm) {
        padding-right: 20px;
        margin-bottom: 20px;
      }
    }

    @media (min-width: @screen-sm-min) {
      padding-left: 0;
    }
  }

  .btn.btn-block + .btn.btn-block {
    margin-top: (@grid-gutter-width/2);

  }

  .account-consignment {
    margin-top: @grid-gutter-width;
  }

  //////////////////////////////////////////////////
  //                  cards                       //
  //////////////////////////////////////////////////
  .account-list.account-addressbook,
  .account-list.account-paymentdetails {
    ul {

    }
  }

  .account-list {
    ul {
      .list-unstyled();
      display: inline-block;
      width: 90%;

      li {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .account-list-header {
      border-top: 1px solid @border-color-3;
      border-bottom: 1px solid @border-color-3;
      background-color: @account-subheadline-bg;
      padding-top: (@grid-gutter-width/2);
      padding-bottom: (@grid-gutter-width/2);
      font-size: 20px;
      line-height: 1.5;
      margin-top: -1px;
      .full-width-padding();

      .account-list-header-add {
        font-size: 15px;
        line-height: 2;
        font-weight: 600;
        position: relative;
        top: 2px;
      }
    }

    .account-cards {

      padding: 0px;

      &.card-select {

      }

      @action-icon-font-size: 24px;

      .account-cards-actions {
        display: inline-block;
        width: 10%;

        .glyphicon {
          font-size: @action-icon-font-size;
          margin-bottom: 20px;
        }

        .edit-item .glyphicon {
          margin-top: 3px;
        }
      }

      @media (min-width: @screen-sm-min) {
        .row {
          .flex-display(flex);
          .flex-direction(row);
          .flex-wrap(wrap);

          &:before {
            content: none;
          }

          &:after {
            content: '';
          }
        }
      }

      .card,
      .search-empty {
        height: 100%;
        border-radius: 10px;
        padding: 18px 15px;
        margin-bottom: 15px !important;
        position: relative;
        min-height: 212px;
        border: 1px solid #efefef !important;
        background: #fff;
        box-shadow: 0 0 5px -3px;

        span {
          padding: 0;
          text-align: right;
        }

        > ul > li {
          margin-bottom: 3px;

          &:first-child {
            text-transform: uppercase;
            font-weight: 600;
          }
        }

        .action-links {


          .glyphicon-remove,
          .glyphicon-pencil {
            font-size: 20px;
            color: @text-color-secondary;
            padding-right: 15px;
            padding-top: 15px;
          }

          &:hover {
            .glyphicon-remove,
            .glyphicon-pencil {
              color: @link-color;
            }
          }

        }

        @media (max-width: @screen-md) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }

    .account-set-default-address {
      position: absolute;
      left: 15px;
      bottom: 25px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      color: #EE3524;
      background: transparent;
      padding: 0;
      border: 0 none;

      @media (max-width: @screen-xs-max) {
        left: 15px;
      }
    }
  }

  .continue__shopping,
  .orderBackBtn {
    .full-width-padding();
  }

}

@media (max-width: @screen-xs-max) {
  .account-section {

    .account-list {

      .account-cards {
        border: none;

        .card {
          border-left: 0;
          border-right: 0;
          padding-left: @grid-gutter-width;
          padding-right: @grid-gutter-width;

          &:first-child {
            margin: 0;
          }
        }

        .selected:first-child {
          border-left: none;
        }
      }
    }
  }
}

.account-profil {
  .account-profil-info {
    margin: 0 0 (@grid-gutter-width/2);

    .account-profil-info-line {
      line-height: 2em;

      span {
        display: inline-block;
        width: 100px;
      }
    }
  }

  a.btn {
    margin-top: (@grid-gutter-width/2);
  }

  .btn + .btn {
    margin-left: (@grid-gutter-width/2);
  }

}

.account-orderdetail {

  &.well {
    padding-left: 0;
    padding-right: 0;
  }

  .item__list .item__list--item {
    .item__total {
      @media (min-width: @screen-md-min) {
        padding-right: 30px;
      }
    }
  }

  .well-content {
    .full-width-padding();
  }

  .clearfix();

  .col-sm-9 > .col-sm-4:nth-child(3n+1) {
    clear: both;
  }

  .order-savings {
    color: @item-promo-color;
    font-weight: 700;
    padding: @grid-gutter-width/2 @grid-gutter-width/2 (@grid-gutter-width+5) 0;

    + .order-savings {
      padding-top: 0;
    }
  }

  .item-box {
    background: #afb2b5;
    padding: (@grid-gutter-width/2);
    margin-bottom: (@grid-gutter-width/4);
    margin-top: (@grid-gutter-width/4);
    .clearfix;
  }

  .order-data {
    background-color: #F2F4F7;
    padding: (@grid-gutter-width/2);
  }

  //	deprecated
  .orderDetail_itemHeader {
    font-size: 20px;
    background-color: @account-subheadline-bg;
    padding: (@grid-gutter-width/2) @grid-gutter-width;
  }

  //	END deprecated

  .button-panel {
    float: right;
    max-width: 200px;

  }

  //	deprecated
  .account-orderdetail-item-section-body {
    ul {
      .list-unstyled;
      margin: 0;

      li {
        padding-top: (@grid-gutter-width/2);
        padding-bottom: (@grid-gutter-width/2);
        border-bottom: 1px solid #eee;
        .clearfix;
      }

      li + li {
        border-top: 1px solid #eee;
      }

      .thumb {
        float: left;
        margin-right: (@grid-gutter-width/2);
        max-width: 100px;
      }

      .price-total {
        float: right;
        padding-right: (@grid-gutter-width/2);
      }

      .details {

        .name {
          font-weight: bold;
        }
      }

      .promo {
        color: @item-promo-color;

        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
          padding-left: 22px;
        }

        @media (min-width: @screen-lg-min) {
          padding-left: 0;
        }

        li {
          border-bottom: 0;
        }
      }
    }
  }

  //	END deprecated

  .account-orderdetail__footer {
    padding-top: 55px;

    > div {
      .full-width-padding();
    }
  }

  .order-savings__headline {
    font-size: @font-size-large-2;
    color: @text-color;
    font-weight: 500;
  }

  .orderTotal {
    font-size: @font-size-large;
    line-height: 38px;
    margin-bottom: @grid-gutter-width;

    .text-right {
      font-weight: 700;
    }

    .totals {
      font-size: @font-size-large-3;
      line-height: 1.2em;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 15px;
      @media (max-width: @screen-sm-max) {
        font-size: 16px;
      }
    }

    .discount {
      color: @item-promo-color;
    }
  }

  .order-store-address,
  .order-store-hours {
    .order-track-number {
      color: @item-sale-color;
    }
  }

  .order-billing-address {
    ul {
      padding: 0;

      li {
        list-style: none;
      }
    }
  }

  .order-billing-address,
  .order-payment-data,
  .order-ship-to,
  .order-shipping-method,
  .order-tracking-no,
  .order-store-address,
  .order-store-hours {
    .label-order {
      .text-uppercase;
      font-size: @font-size-large-1;
      font-weight: bold;
      padding-bottom: 2px;
    }

    .value-order-date {
      display: inline-block;
      min-width: 15%;
    }
  }

  .value-order {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: @screen-xs-max) {
    .order-shipping-method,
    .order-tracking-no,
    .order-payment-data,
    .order-store-hours {
      padding-top: @grid-gutter-width;
    }
  }

  .account-orderdetail-orderTotalDiscount-section {
    clear: both;
    margin-bottom: @grid-gutter-width;

    .order-total__taxes {
      .text-right;
    }

    .order-savings__info {
      color: @item-promo-color;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.account-address-removal-popup {
  .address {
    margin-top: @grid-gutter-width;
  }

  .btn {
    margin-top: (@grid-gutter-width/2);
  }
}

///////////////////////////////////
//      saved cart modal      	 //
///////////////////////////////////
.savedcart_restore_confirm_modal {
  .restore-current-cart-form {
    margin-top: @grid-gutter-width*2;
  }
}

.not-active {
  pointer-events: none;
  cursor: default;
  font-weight: normal !important;
  color: black !important;
}

.AddAddressBtn {


  padding: 10px 36px !important;
  display: flex;
  align-items: center;
  @media (max-width: @screen-sm-max) {
    justify-content: center;

  }


}


.card {
  ul {
    width: 100% !important;
    padding-right: 50px;
  }

  .account-cards-actions {
    display: inline-block;
    width: auto !important;
    position: absolute;
    top: 16px;
    right: 15px;

    .editAddress {
      &:after {
        content: "";
        background-color: #B4B4B4;
        position: absolute;
        width: 1px;
        height: 17px;
        top: 3px;
        left: 50%;
        display: block;
      }

    }

    .action-links {
      color: #B4B4B4;
      font-size: 16px;
      margin-right: 10px;

    }

    .action-links.removeAddressFromBookButton {
      margin-right: 0px;
      margin-left: 10px;
    }
  }
}

li.contentAddressbox {
  margin: 10px 0;
}

.account-section-form {

  padding: 35px !important;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0 0 5px -3px;
  border-radius: 10px;
  @media (max-width: @screen-sm-max) {

    padding: 27px 23px !important;

  }
}

.geo_place {
  margin-bottom: 15px;
  text-align: center;
  padding: 0;

  #geo {
    cursor: pointer;
    color: #666;
    background: #ffffff;
    border: 1px solid #ffffff;
    width: 42px;
    height: 42px;
    position: relative;
    display: block;
    box-shadow: 0px 0px 3px 2px #cccccc59;

    i {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 500;
      color: #666;
    }
  }
}

#outside, #block_geo {
  display: none;
}

#us2 {
  width: 100%;
  height: 300px;
}


.cont_map {
  position: relative;

  .geo_place {
    text-align: left;

    z-index: 1;
    left: 8px;
    position: absolute;
    width: 41px;
    top: 10px;
    height: 41px;
  }

}

.addressBackTitle {
  .label {
    color: #595A58;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 21px;
    padding-left: 6px;
  }

  padding-left: 5px;

  .addressBackBtn {
    font-size: 20px;
    font-weight: 500;
    color: #595A58;
    outline: none;

    span {

      font-weight: 500;
    }

  }


}


.checkout__confirmation__content--component {
  .continue__shopping {
    padding-left: 0 !important;
    margin-left: -8px !important;
    @media (max-width: @screen-sm-max) {

      padding-left: 15px !important;
      padding-right: 15px !important;
    }

  }

}

.itemNumWishlist {
  font-size: 12px;
  color: #717C80;

}

.wishlist {
  @media (min-width: @screen-md-min) {

    .item__list--item {
      .item__image {
        text-align: center;
      }
    }

    .item__list--header {
      .item__image {
        padding-left: 24px;

      }

      @media (min-width: @screen-lg-min) {
        .item__price {

          padding-left: 35px;
        }
      }
    }
  }


}

@media (min-width: @screen-md-min) {
  .item__price.item_wishlist {
    .add_to_cart_form .btn.btn-primary .iconBtnCart {
      margin-top: 0px;

    }

    .addtocart-component {
      float: left;
      margin: 10px 10px 0;
    }

    #command {
      float: right;
    }

  }
}


.remove-wishlist-entry-for-product {
  color: #e93836;
}

@media (max-width: @screen-sm-max) {
  .item__list.item__list__cart {


    .item__list--item {
      overflow: auto;
      overflow-x: hidden;

      .item__image {
        width: 40%;
        display: inline-block;
        text-align: center;
      }

      .item__info {
        display: inline-block;


        .item__remove.item_wishlist {
          .btnpdpAddtocart {

            padding: 10px 30px !important;
            min-width: 160px !important;
            text-align: center;
            justify-content: center;
          }

          width: auto !important;

          .addtocart-component {
            margin-top: 10px !important;

            .add_to_cart_form.pdpAddtocart {
              display: block !important;
              padding: 0px !important;

              .contianerQty {
                display: flex;
                align-items: center;
                margin-bottom: 13px;

                .titleQty {
                  display: inline-block;
                  text-align: left;
                  margin-right: 27px;
                  color: #414C50;
                  text-transform: uppercase;


                }

                .qty-selector {
                  margin: 0px !important;
                }
              }

            }
          }
        }


        .item__name {
          width: 85%;
          display: inline-block;
        }

        .item__price {
          margin-top: 10px;

          .title_price {
            margin-right: 43px;
            text-transform: uppercase;
            color: #414C50;
          }
        }

        width: 60%;

        .item__remove {
          position: unset;

          .btnpdpAddtocart {
            color: #fff;

            min-width: 80px !important;

            float: none;
            height: 35px !important;
          }

          .remove-wishlist-entry-for-product {
            color: #e93836;
            position: absolute;
            top: 7px;
            right: -5px;


          }

          #command, .pdpAddtocart {
            padding-left: 0px;
          }


        }
      }

    }
  }

}

.tbody {
  border-style: hidden;
}


.pageLabel-orders {
  .rowFilter {

    @media (min-width: @screen-sm-min) {
      display: flex;
      align-items: center;
    }
    @media (max-width: @screen-xs-max) {
      padding: 0 10px;
    }
  }

  .titleCategoryPlp {
    @media (max-width: @screen-sm-max) {
      width: 50% !important;
    }
    @media (max-width: @screen-xs-max) {
      width: 100% !important;
    }
  }

  .sort-refine-bar {
    padding: 0px !important;
  }

  .pagSection {
    float: right;
    width: 50%;
    @media (max-width: @screen-xs-max) {
      width: 100% !important;
      float: left;
      max-width: 352px;
      padding-right: 20px;
      padding-left: 19px;
      margin-top: 10px;
      margin-bottom: 10px;
      label {
        width: 87px;
      }

    }


  }

  .form-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    label {
      display: block;
      color: #000;
      font-weight: 400;
    }

    @media (max-width: @screen-sm-max) {
      margin: 0;
      display: flex;
      align-items: center;
    }

    #sortForm1 {
      display: inline-block;
      min-width: 275px;
      padding-left: 10px;
      @media (max-width: @screen-sm-max) {
        min-width: 241px;
        padding-left: 0px;
        width: 100%;
        padding-left: 10px;
        .form-control {
          height: auto;
        }

        height: auto;
        .btn-select {
          font-size: 12px !important;
          width: 100%;
        }
      }
    }

    .bootstrap-select {

      .btn-select {
        padding-left: 20px;
        margin-top: 0px !important;
        border-radius: 10px !important;
        border: 1px solid #EEEEEE;
      }
    }
  }

  .plpTitle {
    display: none;
  }

  .account-section-header {
    display: none;
  }

  .titleotherPages {
    color: #595A58;
    font-size: 20px;
    margin-bottom: 3px;
    display: inline-block;
    text-transform: uppercase;
  }

  .pagination-bar-results {
    display: none;
  }

  .ProductNumberFound {
    color: #717C80;
  }

  .account-orderhistory-table-head {
    background: #E6E6E6;
    color: #000;

    th {
      background-color: transparent;
      color: #000;
    }

    th:first-child {
      border: 1px solid transparent;
      border-radius: 5px;
    }

    th:last-child {
      border: 1px solid transparent;
      border-radius: 5px;
      padding-right: 50px;
    }
  }

  @media (min-width: @screen-md-min) {
    .DateOrderTitle {
      padding-left: 30px !important;
    }

    .orderStatus {
      padding: 20px !important;

    }

    .account-orderhistory {
      margin: 0 60px;
    }


  }
}


@media (min-width: @screen-md-min) {
  @media (max-width: 1200px) {
    .pricetitleWishlist {
      width: 120px;
    }

    .priceWishList {
      width: 137px;
      padding-left: 24px !important;
    }
  }
  .wishlist {
    .remove-wishlist-entry-for-product {
      margin-bottom: 6px;
    }


    .addtocart-component {
      float: left !important;
      margin: 0 !important;
      width: 100%;
    }
  }

  .item__list--item {
    .item__cart {

      display: table-cell;
      vertical-align: middle;
      padding-left: 0 !important;
      width: auto !important;


      .add_to_cart_form.pdpAddtocart {
        padding: 0 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btnpdpAddtocart {

          padding: 0px 30px !important;
          width: auto;
          float: right;
          margin-right: 0 !important;
          display: block;
        }

      }

    }


    .item__price.item_wishlist {
      width: 50px;
    }


  }

}


.account-orderhistory-table-head {
  background: #E6E6E6;
  color: #000;

  th {
    background-color: transparent;
    color: #000;
  }

  th:first-child {
    border: 1px solid transparent;
    border-radius: 5px;
  }

  th:last-child {
    text-align: center !important;
    border: 1px solid transparent;
    border-radius: 5px;
    padding-right: 50px;
  }
}

#reorderForm {

  @media (min-width: @screen-md-min) {
    padding-right: 20px !important;
    padding-left: 0 !important;
  }

}


