.checkout-login{
margin-bottom:30px;
  .full-width-padding();


  .btn.btn-block + .btn.btn-block{
    margin-top: (@grid-gutter-width/2);
  }
}

.checkout__new-account {
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
    margin: 20px 0 55px;
p{    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 32px;}
  .accountActions-bottom {
    margin-top: 35px;
  }
}
.checkout__new-account__headline{
    color: #595A58;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;

}
.checkout__new-account__headling{
    font-size: 24px;
    font-weight: bold;
}

.checkout__new-account__form{
    text-align: left;
    margin-top: 25px;
        padding: 35px 50px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

@media (max-width: @screen-xs-max) {
  .checkout__new-account {
    .row();
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
  }
}


/////////////////////////////////
//      checkout headline      //
/////////////////////////////////
.checkout-headline{
  
    color: #595A58;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    padding: 20px 0;
    margin: 0;
    padding-left: 30px;
    text-transform: uppercase;

  @media (max-width: @screen-md) {
    padding-left: 20px;
  }

  @media (max-width: @screen-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  span{
    color: @checkout-icon;
    margin-right: 5px;
    top: 2px;
  }
}

.checkout-summary-headline {

    color: #595A58;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
    padding-right: 30px;
    text-transform: uppercase;

  @media (max-width: @screen-md) {
    padding-right: 20px;
  }

  @media (max-width: @screen-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  span{
    color: @checkout-icon;
    margin-right: 5px;
    top: 2px;
  }

  @media (max-width: @screen-xs-max) {
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
  }
}



/////////////////////////////////
//       checkout steps        //
/////////////////////////////////
@step-height: 49px;
.checkout-body-styling {
  padding: 30px @grid-gutter-width 15px;
  border: 1px solid @steps-border-active;
  border-top: 0;
}
.checkout-steps {
  padding-left: 30px;

  .step-head {
    background: #7E99AA;
    color: #fff;
    border: 1px solid @border-color-3;
    font-size: 16px;
    font-weight: 700;

    position: relative;
    display: table;
    width: 100%;
    padding: (@grid-gutter-width/2) @grid-gutter-width (@grid-gutter-width/2) 40px;
    height: @step-height;


    counter-increment:checkout;
        border-radius: 12px;
    &:before{
      content:counter(checkout) + '.';
      position: absolute;
      left: 3px;
      top: 0;
      width: 50px;
      text-align: center;
      line-height: @step-height;
    }

    & + .step-head {
      margin-top: @grid-gutter-width/2;
    }

    &.active{
background: #7E99AA;
    color: #ffffff;
    border-color: #cccccc;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    }

    .title{
      vertical-align: middle;
      display: table-cell;
      width: 100%;
    }

    .edit{
      color: #fff;
      font-size: 20px;
      display: table-cell;
      vertical-align: top;
    }
  }

  .step-body{
    .step-body-form {
      .checkout-body-styling();

      .radiobuttons_paymentselection {
        margin-bottom: 5px;
      }
    }

    .checkout-next{
      margin: 20px 0;width:160px
    }

    hr{
      margin: 0 -@grid-gutter-width;
      border-color: @steps-divider;
    }

    .checkout-indent{
      .headline{
        font-size: 20px;
        padding-bottom: 15px;
        padding-top: 30px;
      }
    }
  }
}

@media (max-width: @screen-md) {

  .checkout-steps {
    padding-left: @grid-gutter-width;
  }
}

@step-height-mobile: 68px;
@media (max-width: @screen-xs-max) {
  .checkout-steps{
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;

    .step-head {
      padding-top: @grid-gutter-width;
      padding-bottom: @grid-gutter-width;
      &:before{
        line-height: @step-height-mobile;
      }
    }
  }
}


/////////////////////////////////
//     checkout shipping       //
/////////////////////////////////
.checkout-shipping{
  padding-top: 0;
  padding-bottom: @grid-gutter-width/2;

  .checkout-shipping-items{

    .checkout-shipping-items-header {
      text-transform: uppercase;
      padding: 25px  0 (@grid-gutter-width/2) 0;
      font-size: @font-size-large-1;
      font-weight: 700;
    }

    > div {
      padding-bottom: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ul{
      .list-unstyled;
      margin: 0;

      li{
        padding-top: 6px;
        line-height: @font-size-large;

        &:first-child{
          padding-top: 1px
        }

        .name{
          font-weight: 700;
        }
      }
    }
  }

  ///////////////////////////////////////////////////////////////// deprecated
  .simplify-pickup-locations{
    background: @grayblue;
    padding: (@grid-gutter-width/2);
    .simplify-pickup-location-header{
      .clearfix;
      background: darken(@grayblue,20%);
      padding: (@grid-gutter-width/2);
      line-height: 35px;

      margin: -(@grid-gutter-width/2) -(@grid-gutter-width/2) (@grid-gutter-width/2)  -(@grid-gutter-width/2) ;

    }




    ul{
      .list-unstyled;
      margin: 0;

      li + li{
        border-top:1px solid darken(@grayblue,20%);
      }

      a{
        color: @text-color;
        background: #fff;
        display: block;
        padding: (@grid-gutter-width/2);
        text-decoration: none;
      }
    }
  }
  //////////////////////////////////////////////////////////////////////// deprecated

}

@media (max-width: @screen-md-max) {
  .checkout-shipping{
    .checkout-shipping-items{
      .qty{
        text-align: right;
      }
      .checkout-pickup-items {
        padding-bottom: 0;
      }
    }
  }
}



/////////////////////////////////
//     checkout payment        //
/////////////////////////////////
.checkout-paymentmethod {
    margin-bottom: 20px;

  .step-body & hr {
    margin-top: 25px;
  }
}



/////////////////////////////////
//     checkout modals         //
/////////////////////////////////
#addressbook,#savedpayments,#savedpaymentsbody{
  display: none;
  padding-bottom: 20px;

  #colorbox &{
    display: block;
  }
  ul{
    .list-unstyled;
    margin: 0;

    li{
      padding: (@grid-gutter-width/2) 0;
    }
  }

}


/////////////////////////////////
//      checkout summary      //
/////////////////////////////////
.checkout-order-summary{
  padding-right: 30px;

  @media (max-width: @screen-md) {
    padding-right: 20px;
  }

  @media (max-width: @screen-sm) {
    padding-right: 20px;
    padding-left: 20px;
  }


  .checkout-order-summary-list{
    .list-unstyled;
    border-bottom: 1px solid @steps-divider;
    margin: 0;

    @media (min-width: @screen-sm-min) {
      &:first-of-type {
        .checkout-order-summary-list-heading {
          padding-top: @checkout-list-head-padding-first;
        }
      }
      .checkout-order-summary-list-heading {
        &:only-child {
          border-bottom: 0;
        }
      }
    }

    li{
      .clearfix();
      padding: @grid-gutter-width;

      &:nth-child(2n + 3) {
       
      }
    }

    .checkout-order-summary-list-heading {
      background-color: @checkout-list-head-bg !important;
      color: @checkout-list-head-color;
      padding: @checkout-list-head-padding;
      border-bottom: 1px solid @checkout-list-head-border;

      > div {
        float: left;
      }

      .title {
        font-weight: 700;
        padding-right: 5px;
      }
      .address{
        text-overflow: ellipsis;
        overflow: hidden;
        width: 85%;
      }
    }

    .thumb{
        float: left;
    padding-right: 25px;
    width:25%;


      img{
        width: 100%;
        height: auto;
      }
          @media(max-width:@screen-xs-max){
         float:none;
       margin-right: 0px;
       img{
       width: 100px;
       }
        }
    }

    .price{
     
    
      margin-bottom: @grid-gutter-width;
      font-size: @font-size-base;
      
    }

    .details{
      font-size: @font-size-base;
      font-size: 14px;
      color: #757575;
      width: 75%;
      display: inline-block;

      .name{    margin-bottom: 7px;
        a{    font-weight: 400;
    font-size: 16px;
    @media(max-width:@screen-sm-max){
    font-size:13px;
    }
    height: 50px;
    color: #000000;}
      }

      .qty{ margin: 4px 0; span{ margin: 7px 0;
        font-size:15px;
        
        
        text-transform: capitalize;
        padding-right: @grid-gutter-width/2;
      }}
    }

    .updateQuantityProduct-toggle {
      float: right;
    }

    // maybe deprecated
    .stock-status{
      clear: both;
      padding: (@grid-gutter-width/2) 0;
      font-size: @font-size-small;
    }
    // maybe deprecated
  }

  @media (max-width: @screen-sm-max) {
    .checkout-order-summary-list{
      .checkout-order-summary-list-heading {
        .address{
          width: 100%;
        }
      }
    }
  }

  /////////////////////////////////
  //         order total         //
  /////////////////////////////////
  .subtotals{
    font-size: @font-size-large;
    margin-top: 30px;

    .subtotal,
    .shipping,
    .subtotals__item--state-discount,
    .tax,
    .totals{
      padding: 5px 0;

      span{
        float: right;
        font-weight: 600;
      }
    }

    .totals{
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 15px;
      padding: (@grid-gutter-width/2) 0;
      border-top:1px solid @border-color-3;
      @media(max-width:@screen-sm-max){
      font-size: 16px;
      }
    }

    .realTotals {
      font-size: @font-size-base;
    }
  }
}
.subtotals__item--state-discount {
  color: @item-promo-color;
}

.label-spacing {
  padding-right: 5px;
}

@media (max-width: @screen-xs-max) {
  .place-order-form {
    padding: 0 @grid-gutter-width;
  }

  .checkout-order-summary{
    .checkout-body-styling();
    margin-left: @grid-gutter-width;
    margin-right: @grid-gutter-width;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    .checkout-order-summary-list {
      .list-unstyled;
      border: none;
      padding: 0;

      .checkout-order-summary-list-heading {
        background-color: transparent!important;
        color: @text-color;
        padding: 25px  @grid-gutter-width;
        border-color: @steps-divider;

        .title{
          text-transform: uppercase;
          font-size: @font-size-large-1;
        }
      }

      .checkout-order-summary-list-items {
        border-bottom: 1px solid @steps-divider;
        
        @media(max-width:@screen-xs-max){
        display:flex;
        }
      }
    }

    .subtotals {
      padding: 0 @grid-gutter-width;
    }
  }
}


.checkout-review{
.checkout-order-summary {.checkout-body-styling();    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;}  

  .checkout-order-summary .subtotals {
  
    margin-top: 0;
    
    @media(min-width:@screen-lg-min){
        width: 50%;}
  }
}

.place-order-form {
  .checkbox {
    margin: 25px 0 (@grid-gutter-width*2);

    label {
      font-size: @font-size-base;
      color: #888888;
      text-transform: none;
    }
  }
}

// terms and conditions modal - close button
.btn-close-terms-and-conditions {
  margin: 30px 0;
}

@media (min-width: @screen-sm-min) {
  .place-order-form {
    .checkbox {
      margin-left: 0;
      margin-right: @grid-gutter-width;
    }
  }
}


/////////////////////////////////
//        checkout help        //
/////////////////////////////////
.checkout-help {
  text-align: center;
  border: 1px solid @border-color-3;
  font-size: 15px;
  padding: (@grid-gutter-width/2);
  margin-top: @grid-gutter-width * 3;

  @media (max-width: @screen-xs-max) {
    margin-top: 30px;
    margin-left: @grid-gutter-width;
    margin-right: @grid-gutter-width;
  }
}

.checkout-success{
  .full-width-padding();
}

.checkout-success__body{
    margin: 30px 0 5px;
    text-align: center;
}

.checkout-success__body__headline{
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 15px;
      text-transform: uppercase;
}

// // maybe not used or coming from impex
// .checkout-success-body-register {
//   overflow: hidden;
//   margin: 20px 0 35px 0;
//   .login-section, .register-section {
//     margin: 0 auto;
//     float: none;
//     background-color: @grayblue;
//     padding: 15px;
//   }
//   .checkout-success-body-register-email {
//     display: inline-block;
//     margin-left: 5px;
//   }
//   form {
//     padding: 20px 0;
//     text-align: left;
//   }
// }


.place-order-form{
.container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #757575;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid #3996d2;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

}













.termsAndConditions-section{
  padding-bottom: (@grid-gutter-width);
}



label.terms{
  margin: 15px 0;
}


fieldset#cardDate,
fieldset#startDate{
  & > .control-label{
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group{
    .control-label{
      .sr-only;
    }
  }

}

.page-multiStepCheckoutSummaryPage {

  #colorbox.read-only-grid{
    #cboxLoadedContent {
      margin-top: 100px;
      padding: 0;

      @media (max-width: @screen-sm-max) {
        margin-top: 130px;
      }

      @media (max-width: @screen-xs-max) {
        margin-top: 170px;
      }
    }
    .grid-row {
      border-top: 1px solid @border-color-2;

      &:nth-child(2n+2) {
        background: @table-2n-line-bg;
      }
    }


    .grid-prod-info {
      display: inline-block;
    }

    td {
      padding: 10px 10px 15px;
      vertical-align: top;

      > span {
        display: block;
      }

      &.grid-prod-img {
        padding-left: @grid-gutter-width*2;
      }

      .grid-variant,
      .grid-size {
        font-weight: bold;
        min-width: 80px;
      }

      .grid-variant {
        display: block;
        font-size: 16px;
      }

      @media (max-width: @screen-xs-max) {
        padding: 10px 15px 15px;

        &:nth-child(2n+2) {
          background-color: transparent;
        }

        .grid-prod-info {
          display: block;
          text-align: left;

          span {
            display: inline-block;
          }

        }

        .grid-price {
          float: right;
        }

      }
    }
  }
}






.checkout-steps{
.step-body{    margin-top: -15px;
.checkout-indent{
    padding: 30px 20px 15px;
    border: 1px solid #cccccc;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

}

}



}




















.storeCredit_div{

.container-radio {
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
   
      color: #000;
    font-size: 12px;
    font-weight: 400;    display: block;
    i{
    color:#2496d2;    margin-right: 4px;
    }
    @media(max-width:@screen-xs-max){
    
    font-size: 12px;
    }
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
       position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
   
    border-radius: 50%;
    border: 2px solid #afafaf;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  border:1px solid #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
   border: 1px solid #2496d2;
  
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2496d2;
}
}


.orderDetails{
.checkout-order-summary{
    padding: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 12px;
    
    .headerItemOrderDetails{
        color: #757575;
    font-size: 15px
    }

}

@media(min-width:@screen-md-min){
    padding-left: 83px;
    padding-right: 35px;

}
}


li.checkout-order-summary-list-items {
    border-bottom: 1px solid #DFCFCF;
   
}







.well.well-tertiary.well-single-headline {
    border: none !important;
    color: #595A58;
    text-transform: uppercase;
    font-size: 23px;
    
    .well-headline {
    font-size: 20px;
    font-weight: 400;
    border: none;
}
}



.pageLabel-orderConfirmation{

.reLoadOrder{
width:160px}
@media(min-width:@screen-md-min){
.account-section{
margin: 0 80px;

}

}


}



.centerItemRow{
@media(max-width:@screen-sm-max){
.divBtnComp{
.item-group{

.item-value{width:100% !important;}
    text-align: center;
    margin-top: 15px;
}
}
}

@media(min-width:@screen-md-min){
    display: flex;
    align-items: center;

}
}


.productItemListHolder{
@media(min-width:@screen-md-min){
.item__total{
text-align:center;
}

}

.item__list--item{
@media(max-width:@screen-sm-max){
.item__image {
    float: left;
    margin: 0;
    width: 130px;
    text-align: center;
    min-height: 131px;
}
.item__quantity__total {
    display: inline-block !important;
    width: auto;
    margin-left: 0;
    
    label{
        color: #000;
    font-weight: 500;
    text-transform: capitalize;
    }
    
    .item__total{
    
    float:none;
    
    }
}


}
}

}

.account-orderdetail{
@media(max-width:@screen-sm-max){

.item__list .item__image{
  
    margin: 0;
    text-align: center;
    width: 40%;

}

.item__list .item__info{width:60%;
.item__price{margin-top:5px;}
    display: inline-block;
    .qty{
    margin:5px 0;
    label{
    font-weight:400;
    color:#000;
    }
    
    }
    .item__total{
    
        display: block;
    float: none;
    text-align: left;
    }
    
}

}

}

.paddBo{
    margin: 0 auto;
    margin-bottom: 15px;
}
.checkoutStoreC{
font-size: 18px !important;
    padding-bottom: 5px !important;
    padding-top: 0 !important;
    font-weight: 600 !important;
    color: #555555 !important;
}











.checkbox{



.container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #757575;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid #3996d2;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



}



















