.simpleimagecomponent{
	a{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}
 

.banner-component{
	width: 100%;
	a{
		.clearfix;
		display: block;
		color: @text-color;
		text-decoration: none;
	}

	.title{
		font-weight: bold;
	}
	.thumb{
		padding: (@grid-gutter-width/2) 0;
		img{
			width: 100%;
			height: auto;
		}
	}

}


.simple-banner-component,
.banner__component {

  @media (max-width: @screen-xs-max) {
    .row();
  }

	a{
		display: block;
	}

	img{
		width: 100%;
		height: auto;
	}
}
 
.image-map-component{
	img{
		width: 100%;
		height: auto;
	}
}


.cms-image-component{
	img{
		width: 100%;
		height: auto;
	}
}

 
.tabs{
	margin-top:25px;
	@media (max-width: @screen-sm-max) {
	margin-top:0;
	}

	.tabs-list{
		.nav;
		.nav-tabs;

		display: table;
		margin: 0 auto;
		border: 0;
	
		.current-info{
			.sr-only; 
		}

		li{
		    padding: 10px 25px;
    margin: 0 5px;
   
    margin-bottom: -4px;
    @media(max-width:@screen-sm-max){
    padding: 10px 20px;
    }
   

			a{
				text-transform: uppercase;
				color: #2496D2;
				padding: 0 0 5px 0;
				border: 0;
				    font-weight: 500;
				    font-size: 15px;

				&:focus,
				&:hover {
					cursor: pointer;
					background-color: #fff;
				}
			}

			+ li:before {
				
			}
		}

		li.active{
		
	background: #f4f4f4;
    margin-bottom: -4px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
			a,
			a:hover,
			a:focus{
			border:0;
				color: #595A58;
    background-color: #f4f4f4;
    cursor: default;
			}
		}
	}
	.tabhead{
		.hidden-xs;
		.hidden-sm;
	@media (max-width: @screen-sm-max) {height: 50px;}	
		
		display: table;
		
		& + .tabbody{
			display: none !important;
		}

&.focus{
border:0;
}
		&.active{
			

			& + .tabbody{
				display: block !important;
				    border: 1px solid #f4f4f4;
    border-radius: 15px;
    background-color:#f4f4f4;
			}
		}

		a {
			padding: 0 (@grid-gutter-width/2);
			color: inherit;
			line-height: 1;
			text-decoration: none;
			display: table-cell;
			width: 100%;
			vertical-align: middle;

			@media (max-width: @screen-md) {
			  padding-left: 0px;
			  height:50px;
			}
		}
	

		.glyphicon{
			padding: 0 (@grid-gutter-width/2);
			.glyphicon-chevron-right;
			display: table-cell;
			vertical-align: middle;

		  	@media (max-width: @screen-md) {
			  padding-right: 20px;
			}
		}

		&.active{
			.glyphicon{
				.glyphicon-chevron-down;
			}
		}




	}
	.tabbody{
		border-bottom:1px solid #f4f4f4;
		padding: 20px 0px;
	  	.full-width-padding();
		background-color: @table-2n-line-bg;
		@media(max-width:@screen-sm-max){
		background-color: #fff;
		
		}
	  @media (min-width: @screen-md-min) {
		border-top:1px solid #f4f4f4;
	  }
	}


	&.tabs-responsive{
		.tabs-list{
			.hidden-xs;
			.hidden-sm;
		
		}

		.tabhead{
			text-transform: uppercase;
			display: none !important;
			    position: relative;
    margin-bottom: 10px;
    i{
        position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    }
    
			.fa-chevron-down{display:none;}
			.fa-chevron-right{display:block;}
			&.active{
				.fa-chevron-down{display:block;}
				.fa-chevron-right{display:none;}
			}
			
			@media (max-width: @screen-sm-max) { 
				display: table !important;
				width:100%
			}
		}


	}


	&.tabs-accordion{
		.tabs-list{
			display: none !important;
		
		}

		.tabhead{
			display: table !important;
			margin-bottom: 20px;
		}


	}
}






.languagecurrencycomponent{
	.pull-right;

	form{
		display: inline-block;

		+ form{
			margin-left:(@grid-gutter-width/2) ;
		}
	}
}


.ui-helper-hidden-accessible{
	.sr-only;
}

















// badges

.thumb{
	position: relative;
	.badges{
		position: absolute;
		top: (@grid-gutter-width/2);
		left: (@grid-gutter-width/2);
		right: (@grid-gutter-width/2);
		bottom: (@grid-gutter-width/2);
		overflow: hidden;
		.badge{
			float: left;
   			clear: left;
   			margin-bottom: (@grid-gutter-width/2);
			
		}
	}
}










.com-space{
	& > *{
		padding: (@grid-gutter-width/2) 0;
	}
}








.flex-column{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    & > *{
    	-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
    }
}









.product-classifications{

	.headline{
		font-weight: bold;
    padding: @grid-gutter-width/2;
	}
	
	table.table{
		td.attrib{
			width: 50%;
		}
	}
}


.no-space{

  	padding: 0 !important;

	.yCmsComponent{
		padding: 0 !important;
	}
}


.simple-responsive-banner-component,
.banner__component--responsive {

	a {
		display: block;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.error-page{
	text-align: center;
}

// back link

.back-link {
  padding: @grid-gutter-width 20px;
  @media(max-width:@screen-sm-max){
      padding: 10px 15px 20px;
  }

  &.border {
   
  }

  button {
    padding: 0;
  }

  .glyphicon {
    border-right: 1px solid @border-color-3;
    border-radius: 0;
    padding-right: 10px;
    line-height: 16px;
    top: -2px;
  }

  .label {
    .page-headline();
    padding-left: 10px;
    white-space: normal;
  }

  &.product-details .label {
    font-weight: 600;
  }
}


/////////////////////////////////////////////////
//                 accordion                   //
/////////////////////////////////////////////////
.accordion {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;

  .panel-group {
    margin: 0;
  }

  .panel {
    border: none;
    .box-shadow(none);

    .panel-heading {
      background-color: lighten(@accordion-bg, 95%);
      border-bottom: 1px solid #ffffff;
      position: relative;
      padding: 0;

      .accordion-toggle {
        display: block;
        color: @text-color;
        padding: @grid-gutter-width 30px;

        &:before {
          .glyphicon();
        }
        .glyphicon-chevron-up();

        &.collapsed {
          .glyphicon-chevron-down();
        }
      }
      .accordion-lnk {
        position: absolute;
        left: 15 + @grid-gutter-width*2;
        top: @grid-gutter-width;

          &.no-subs {
            display: block;
            position: static;
            padding: @grid-gutter-width;
          }
      }
    }

    .panel-collapse {
      .accordion-bg(10);
    }

    .panel-heading + .panel-collapse > .panel-body {
      border: none;
      padding: 0;
    }
  }
}


.tabs-responsive{

.content{


padding:0 3%;
@media (max-width: @screen-xs-max) {padding:0;margin-top:25px;}
}}

.container_pd{@media (max-width: @screen-sm-max) {border:1px solid #fff;border-radius:10px;}
@media (max-width: @screen-sm-max) {border:1px solid #f4f4f4;}
}
.tabhead{


&:hover ,&:focus{    border: none !important;}
}

.btn_pdp{
    padding: 7px 45px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    background: #6fbb34;
    &:hover{
    background:#4c8222;
    
    }

}
