footer {
    margin-top: 35px;
    background: #fff;
    color: #000;
    border-top: 1px solid #d9d9d9;
    padding-top: 28px;

}

.footer__top {
  padding-bottom: 10px;
  padding-top: 10px;

  @media (max-width: @screen-md) {
    padding-bottom: 0px;
  }

  .footer__nav--container {

    @media (max-width: @screen-sm-max) {
      margin-bottom: 0px;
      text-align: left;
    }

    .footer__nav--links {
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      list-style: none;
      @media(max-width:@screen-sm-max){
      margin:10px 0;
      }

      .footer__link {
        margin-top: 3px;
      }

      a {
        color: #444444;
        font-size: 14px;
      }
    }
  }
}

.footer__left {
  .full-width-padding();
}

.footer__right {
  .full-width-padding();
  @media (max-width: @screen-md) {
    border-top: 1px solid @footer-border-color;
    padding-top: 30px;
    margin-top: 25px;
  }

  .footer__dropdown {

    select.form-control {
      padding: 2px 13px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      cursor: pointer;
      background-color: @footer-background;
      color: @footer-text-color;
      padding: 7px 10px;
      height: 26px;
      line-height: 20px;
      font-size: 14px;

      option {
        background-color: @footer-background;
      }

      &:focus::-ms-value {
        background-color: @footer-background;
      }
    }
  }
}

.footer__copyright {
  background: #fff;
  padding: 25px 0;
  color: @copyright-color;
  text-align: center;
}



.socialMediaContent{
    padding-top: 10px;
    padding-left: 6px;
	.facebookLink{
	    font-size: 18px;
    color: #1976D2;
    margin-right: 20px;
	}
	
	.twitterLink{
	    font-size: 18px;
    color: #03A9F4;
    margin-right: 20px;
	}
	.youtubeLink{
	    font-size: 18px;
    margin-right: 20px;
    color: #F44336;
	}
	
	.instagramLink{
	    font-size: 18px;
    margin-right: 20px;
    i{
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: #fff;
    border-radius: 5px;
    }
	}
}
.FooterFollowUsLinks{
.content{
div{
div{
    display: flex;
    align-items: center;
    @media(max-width:@screen-sm-max){
        justify-content: center;
    }

}

}
}
}
.facebookLink{
background-image: url('../images/facebook.svg');
    width: 10px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: left;
    margin-top: 10px; margin-right:20px;
}
.twitterLink{

background-image: url('../images/tweet.svg');
    width: 20px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: left;
    margin-top: 10px; margin-right:20px;

}
.youtubeLink{
background-image: url('../images/youtube.svg');
    width: 20px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: left;
    margin-top: 10px; margin-right:20px;

}
.instagramLink{
background-image: url('../images/instagram.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: left;
    margin-top: 10px;
    margin-right:20px;
}



