.slot_time{


    .select_st{
        display: inline-block;
        padding: 22px 0;
        height: 62px;
        width: 170px;
        background: #fff;
        border: 1px solid #c9c9c9;
        margin-bottom: 15px;
        text-align: center;
        color: #000;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        @media(max-width:@screen-sm-max){
            width:100%;
        }



    }

    .label_disabled{

        display: inline-block;
        padding: 12px 0;
        height: 62px;
        width: 170px;
        background: #fff;
        border: 1px solid #c9c9c9;
        margin-bottom: 15px;
        text-align: center;
        color: #a3a3a3;
        font-size: 12px;
        font-weight: 500;
        cursor: not-allowed;
        @media(max-width:@screen-sm-max){
            width:100%;
        }
    }

    .title_slot_time{
        height: 62px;

        background: #ededed;

        margin-bottom: 15px;
        text-align: center;
        padding-top: 13px;

        .day{
            text-transform: uppercase;
            font-weight: 500;
        }


        .date{
            display: block;
            font-size: 11px;
            color: #828282;

        }}
    .disabled{
        width: 183px;
        height: 50px;
        border-bottom: 3px solid #dcdcdc;
        transform: translateY(-33px) translateX(10px) rotate(11deg);
        position: absolute;


    }
    .empty{
        display:block}

    .disable_input{
        display:none}

    input[type=radio]:checked ~ label {
        background:#3886C8 !important;
        border: 1px solid #3886C8 !important;
        color:#fff !important;
    }

    .owl-nav1{
        .fa-chevron-circle-left{
            color:#000 !important}

        .owl-prev1{   position: absolute !important;
            left: -21px !important;
            top: 7% !important;
            span{
                font-size: 27px !important;
                font-weight: 400 !important;
                color: #636468 !important;
            }
        }
        .owl-next{   position: absolute !important;
            left: -21px !important;
            top: 7% !important;
            span{
                font-size: 27px !important;
                font-weight: 400 !important;
                color: #636468 !important;
            }
        }

    }
}

.item_time_slot.active {
    cursor: pointer;
}
.item_time_slot.no_action {
    cursor: none;
}
#selectTimeSlotForm{
    margin:0px 20px;
    padding-top:30px;
    .js-owl-slot-time{
        .carousel__item{
            padding:0px;
            @media(max-width:@screen-sm-max){
                width:100%;

                .slot_time{
                    margin: 0 30px;
                }
            }


        }

    }

}



@media only screen and (max-width:1450px) and (min-width: 1200px)  {

    .slot_time{
        .disabled{
            @media(max-width:1450px){
                width:150px;
            }
            @media(max-width:1300px){
                width:140px;
                transform: translateY(-32px) translateX(2px) rotate(17deg);
            }
        }


        .select_st{
            @media(max-width:1450px){
                width:170px;
            }
            @media(max-width:1300px){
                width:150px;
            }
        }


        .label_disabled{
            @media(max-width:1450px){
                width:170px;
            }
            @media(max-width:1300px){
                width:150px;
            }
        }



    }

}
