<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="template" tagdir="/WEB-INF/tags/responsive/template"%>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="theme" tagdir="/WEB-INF/tags/shared/theme"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="formElement"
	tagdir="/WEB-INF/tags/responsive/formElement"%>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="otp" tagdir="/WEB-INF/tags/responsive/otp/login"%>
<spring:htmlEscape defaultHtmlEscape="true" />

<div class="row checkout-step-otp">
	<div class="col-xs-12"><img class="btn-block otpimg" src="${fn:escapeXml(themeResourcePath)}/images/OTP.svg"></div>
	<div class="col-xs-12">
<div class="boxotp">
<form:form method="post" id="otpForm" class="otpForm phoneNumberForm" modelAttribute="otpForm" >
<div class="row">
	<div class="col-xs-12 text-center">
	<p class="otp_headline"><spring:theme code="otp.verify.code.title" /></p>
	<p><spring:theme code="otp.verify.code.send.description2" /></p>
	</div>

</div>
<div class="row">


	<div class="col-md-12">
		
	<formElement:formCountrySelectBoxDefaultEnabled idKey="mobileCountry"
		labelKey="register.mobile.country.number"
		selectCSSClass="form-control countrypicker f16"
		path="mobileCountry" mandatory="true" skipBlank="false"
		skipBlankMessageKey="form.select.empty" items="${mobileCountries}" />
	</div>
	<div class="col-md-12">
		<formElement:formInputBox idKey="mobileNumber"
		labelKey="otp.mobile.number" path="mobileNumber"
		inputCSS="form-control" mandatory="true" />
		
	</div>
	
</div>
<div class="row">
<div class="col-md-6 pull-right">
		<button type="submit" class="btn btn-primary btn-block">
		<spring:theme code="phone.number.send.verify" />
	</button>
</div>
</div>

</form:form>

</div>
</div>
</div>