<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="template" tagdir="/WEB-INF/tags/responsive/template"%>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="theme" tagdir="/WEB-INF/tags/shared/theme"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="formElement"
	tagdir="/WEB-INF/tags/responsive/formElement"%>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="otp" tagdir="/WEB-INF/tags/responsive/otp"%>
<spring:htmlEscape defaultHtmlEscape="true" />

<div class="row containerOTP">
		<div class="col-md-6"><img class="btn-block otpimg" src="${fn:escapeXml(themeResourcePath)}/images/OTP.svg"></div>
	<div class="col-md-6">
<div class="boxotp">
<c:url var="otpVerifyActionURL" value="/otp-login" />
<form:form method="post" id="otpLoginForm" class="otpLoginForm" modelAttribute="otpForm" action="${otpVerifyActionURL}">
<div class="row">
	<div class="col-md-12 text-center">
	<p class="otp_headline"><spring:theme code="otp.login.code.title" /></p>
	<p><spring:theme code="otp.login.code.description" /></p>
	</div>

</div>
<div class="row">
	<div class="col-md-12">
		<formElement:formInputBox idKey="otpForm.email"
		labelKey="otp.login.email" path="email"
		inputCSS="form-control" mandatory="true" />
		
	</div>
	
</div>
<div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3 ">
		<button type="submit" class="btn btn-primary btn-block">
		<spring:theme code="phone.number.send.verify" />
	</button>
</div>
</div>

</form:form>

</div>
</div></div>